In [37]:
import pandas as pd
import numpy as np
import datetime
#import the dataset and print out the first 2 rows so we can get an overview of the dataset
jobs = pd.read_csv(r"C:\Users\lilmi\Downloads\dirty python dataset\monster_com-job_sample.csv")
print (jobs.head(3))

                    country country_code date_added has_expired  \
0  United States of America           US        NaN          No
1  United States of America           US        NaN          No
2  United States of America           US        NaN          No

          job_board                                    job_description  \
0  jobs.monster.com  TeamSoft is seeing an IT Support Specialist to...
1  jobs.monster.com  The Wisconsin State Journal is seeking a flexi...
2  jobs.monster.com  Report this job About the Job DePuy Synthes Co...

                                           job_title             job_type  \
0               IT Support Technician Job in Madison   Full Time Employee
1            Business Reporter/Editor Job in Madison            Full Time
2  Johnson & Johnson Family of Companies Job Appl...  Full Time, Employee

                                            location  \
0                                  Madison, WI 53702
1                                  Madison, WI 53708
2  DePuy Synthes Companies is a member of Johnson...

                      organization  \
0                              NaN
1          Printing and Publishing
2  Personal and Household Services

                                            page_url salary  \
0  http://jobview.monster.com/it-support-technici...    NaN
1  http://jobview.monster.com/business-reporter-e...    NaN
2  http://jobview.monster.com/senior-training-lea...    NaN

                    sector                           uniq_id
0  IT/Software Development  11d599f229a80023d2f40e7c52cd941e
1                      NaN  e4cbb126dabf22159aff90223243ff2a
2                      NaN  839106b353877fa3d896ffb9c1fe01c0

In [8]:
#'.info()' is a function and it gives us general information about our dataset
jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          22000 non-null  object
 1   country_code     22000 non-null  object
 2   date_added       122 non-null    object
 3   has_expired      22000 non-null  object
 4   job_board        22000 non-null  object
 5   job_description  22000 non-null  object
 6   job_title        22000 non-null  object
 7   job_type         20372 non-null  object
 8   location         22000 non-null  object
 9   organization     15133 non-null  object
 10  page_url         22000 non-null  object
 11  salary           3446 non-null   object
 12  sector           16806 non-null  object
 13  uniq_id          22000 non-null  object
dtypes: object(14)
memory usage: 2.3+ MB

##### Comparing the 'RangeIndex' figure of 22000 entries to the 'Count' figures for each column points out straight away that we have some missing values in our data even if it says 'non-null' especially since the empty columns have been assigned an NaN value

##### We'll notice from the jobs dataset that all the fields have been assigned an "object" data type. An object data type in Python functions like a container that allows a variable to be assigned a particular data type (string, numeric, boolean, etc. are all object types). 
From the sample displayein the first cell when we ranth the pri ) function, wcan detect the appropriate data types to be assigned toto the fields oour jobshe dataset

In [14]:
jobs["country"].dtype

dtype('O')

In [15]:
jobs["date_added"].dtype

dtype('O')

##### dtype('0') - So I went further and decided to check the data type of some individual columns that I am sure of what the data types should be like country should be string and date_added should be date but my query returned dtype('0') instead
##### Python returns the "dtype('0')" if the column being queried contains a mixture of values like strings, numbers and NaNs. This gives us more information about our jobs dataset

In [31]:
#Pandas stores 'string' data type as 'object', So to convert the "country" column to a string, we will have to use the astype() function with an 'S'
#in the bracket while prefixing it with an '|' 

jobs['country'] = jobs['country'].astype('|S')
jobs['country'].dtype

dtype('S24')

##### A 24-byte length size which is the maximum lenght it could find was assigned to the 'country' column because no size was specified when the column was converted from an 'object' data type to a string type. For the country_code column, the length of the byte will be specified so we can understand how this functions

In [27]:
jobs['country_code'] = jobs['country_code'].astype('|S8')
jobs['country_code'].dtype

dtype('S8')

##### As can be seen, the country_code column was assigned an 8 byte lenght string size because the lenght was specified as '|S8' in the astype() function

In [33]:
#We use the 'assert' statement to confirm that the correct data types were assigned to our variables 'country' and 'countyr_code'.
#If the query returns nothing, then the correct data types were assigned

assert jobs['country'].dtype == '|S24'
assert jobs['country_code'].dtype == '|S8'

In [38]:
#converting the date_added column from object dtype to date time.

jobs['date_added'] = pd.to_datetime(jobs['date_added'])
jobs['date_added'].dtype

dtype('<M8[ns]')

In [24]:
jobs['salary'] = jobs['salary'].astype('float64')
jobs['salary'].dtype

ValueError: could not convert string to float: '9.00 - 13.00 $ /hour'